@import url('https://fonts.googleapis.com/css?family=Abel');

#logo {
    width: 300px;
}

.header {
    height: 80vh;
}
.movies-search {
    height: 100px
}
.search-div {
    border: 1px solid red;
    line-height: 100px
}   
.search-div input {
    border-radius: 30px;    
    padding-left: 15px;
    font-size: 30px;    
    height: 50px;
}
.header-half {
    height: 40%;;
}
.movie-name {
    font-family: 'Abel', sans-serif;
    font-size: 48px;
    margin-bottom: 30px;
}
.movie-info p {
    font-family: 'Abel', sans-serif;
    font-size: 22px;    
}