.header {
  height: 75vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.1;
  transition: all 0.8s;
  .header-half {
    height: 40%;
  }
}

.movies-search {
  height: 100px;
  position: absolute;
  bottom: 0;
  .search-div {
    height: 100px;
  }
  .search-input {
    height: 50px;
    margin-top: 25px;
    font-size: 28px;
    border-radius: 25px;
    padding-left: 20px;
    background: #353535;
    span {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: #fff;
    }
  }
  input {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 40px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.5);
    background: #353535;
  }
  input:focus {
    outline: none;
  }
}
.movie-info {
  padding: 20px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
  h1 {
    font-family: "Abel", sans-serif;
    font-size: 48px;
    margin-bottom: 30px;
    color: white;
  }
  p {
    font-family: "Abel", sans-serif;
    font-size: 22px;
    color: white;
  }
}

.popular-movies {
  h1 {
    font-family: "Abel", sans-serif;
    font-size: 48px;
    margin: 28px 0;
    display: block;
  }
  .movies-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
  }
  .movie-item {
    height: auto;
    overflow: hidden;

    img {
      transition: all 0.3s;
      backface-visibility: hidden;
      display: block;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .load-more {
    margin: 100px 0;
    button {
      display: block;
      width: 100%;
      font-family: Abel, sans-serif;
      font-size: 42px;
      padding: 20px;
      background: #17d47b;
      color: #fff;
      transition: all 0.3s;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
